<label>
  {{input type='checkbox' checked=hideDone}}
  hide completed tasks
</label>

{{#each filteredContent itemController='task'}}
<div>
  <span {{action 'toggleDone' on='click'}}>
  {{#if done}}
    [x]
  {{else}}
    [ ]
  {{/if}}
  </span>
  {{description}}
  <span {{action 'remove' on='click'}}>delete</span>
</div>
{{/each}}
<div>
  <form {{action 'addTask' on='submit'}}>
    {{input value=newDescription placeholder='enter a new task'}}
    <button type="submit">save</button>
  </form>
</div>
